{% extends 'core/_base.html' %}

{% block content %}
    <div class="container">
        <h2>Create Issue</h2>
        <form method="post" action="{% url 'create_issue' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="project" class="form-label">Project:</label>
                <select name="project" class="form-control" required>
                    <option value="" selected disabled>Select a project</option>
                    {% for project in projects %}
                        <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="issue_name" class="form-label">Issue Name:</label>
                <input type="text" name="issue_name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="issue_description" class="form-label">Issue Description:</label>
                <textarea name="issue_description" class="form-control" required></textarea>
            </div>

            <div class="mb-3">
                <label for="assigned_to" class="form-label">Assigned To:</label>
                <select name="assigned_to" class="form-control" required>
                    <option value="" selected disabled>Select an option</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create Issue</button>
        </form>
    </div>
{% endblock %}
