<!-- user_projects.html -->
{% extends 'core/_base.html' %}

{% block content %}
  <h2>Projects You're Part Of</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Created By</th>
        <th>Joined At</th>
        <th>Task Count</th>
        <th>Issue Count</th>
        <th>Project Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.project_id }}</td>
          <td>{{ project.project_name }}</td>
          <td>{{ project.project_description }}</td>
          <td>{{ project.created_by.username }}</td>
          <td>{{ project.userproject.joined_at }}</td>
          <td>{{ project.task_count }}</td>
          <td>{{ project.issue_count }}</td>
          <td>{{ project.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
